<section
	id="appointment"
	class="ftco-appointment ftco-section ftco-no-pt ftco-no-pb img"
	style="background-image: url(images/bg_3.jpg)"
>
	<div class="overlay"></div>
	<div class="container">
		<div class="row d-md-flex justify-content-end">
			<div
				class="col-md-12 col-lg-6 half p-3 py-5 pl-lg-5 ftco-animate heading-section heading-section-white"
			>
				<span class="subheading">Booking an Appointment</span>
				<!-- <h2 class="mb-4">Free Consultation</h2> -->
				
					<form
					class="appointment"
					id="appointmentForm"
					name="appointmentForm"
					action="#"
					onsubmit="sendWAMsg();return false"
				  >
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<div class="form-field">
									<div class="select-wrap">
										<div class="icon">
											<span class="fa fa-chevron-down"></span>
										</div>
										<select name="service" id="service" class="form-control">
											<option value="">Select services</option>
											<option value="Washing Machine Repair">
												Washing Machine Repair
											</option>
											<option value="AC Service & Repair">
												AC Service & Repair
											</option>
											<option value="Refrigerator Repair">
												Refrigerator Repair
											</option>
											<option value="Water Purifier Service">
												Water Purifier Service
											</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input
									name="name"
									type="text"
									name="name"
									class="form-control"
									placeholder="Your Name"
								/>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input
									type="number"
									name="mobile"
									class="form-control"
									placeholder="Mobile number"
								/>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<div class="input-wrap">
									<div class="icon">
										<span class="fa fa-calendar"></span>
									</div>
									<input
										type="text"
										name="date"
										class="form-control appointment_date"
										placeholder="Date"
									/>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<div class="input-wrap">
									<div class="icon">
										<span class="fa fa-clock-o"></span>
									</div>
									<input
										type="text"
										name="time"
										class="form-control appointment_time"
										placeholder="Time"
									/>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<textarea
									name="message"
									id=""
									cols="30"
									rows="3"
									class="form-control"
									placeholder="Please share the brand name and the problem"
								></textarea>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<button type="submit" class="btn btn-dark py-3">
									<i class="fa fa-whatsapp fa" aria-hidden="true"></i>
									Send Message
								  </button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
