<div class="wrap">
	<div class="container">
		<div class="row d-flex align-items-center justify-content-between">
			<div class="col-md-5 d-flex align-items-center">
				<a  href="/"><img src="images/logo.jpg" alt="logo" class="logo"/></a><a></a><a class="navbar-brand" style="margin-left: 10px;" href="/">Home Appliances<br/> Doorstep<span>.</span><span>Repair</span></a
				>
				
					<a class="phn-bg" href="tel:+91 9989583474"><img border="0" src="images/ringer.png" alt="call" class="call"/></a>
				

			</div>
			<div class="col-md-7 d-flex flex-column align-items-center">
				<div class="row">
					<div class="col mb-2">
						<!-- <div class="top-wrap d-flex">
							<div
								class="icon d-flex align-items-center justify-content-center"
							>
								<span class="fa fa-location-arrow"></span>
							</div>
							<div class="text">
								<span>Address</span
								><span>Chintalakunta, L B Nagar, Hyderabad</span>
							</div>
						</div> -->
					</div>
					<!-- <div class="col mb-2">
						<div class="top-wrap d-flex">
							<div
								class="icon d-flex align-items-center justify-content-center"
							>
								<span class="fa fa-phone"></span>
							</div>
							<div class="text">
								<span>Call us</span>
								<a href="tel:+919989583474"><span>+91 9989583474</span> </a>
							</div>
						</div>
						
					</div> -->
					<!-- <div class="col nomobile">
						<div class="top-wrap d-flex">
							<div
								class="icon d-flex align-items-center justify-content-center"
							>
								<span class="fa fa-envelope"></span>
							</div>
							<div class="text">
								<span>Email us</span>

								<a href="mailto:doorsteps.repair@gmail.com" target="_blank">
									<span style="text-transform: lowercase"
										>doorsteps.repair@gmail.com
									</span>
								</a>
							</div>
						</div>
					</div> -->
					<!-- <div class="col-md-3 d-flex justify-content-end align-items-center">
						<div class="social-media">
							<p class="mb-0 d-flex">
								<a
									href="#"
									class="d-flex align-items-center justify-content-center"
									><span class="fa fa-facebook"
										><i class="sr-only">Facebook</i></span
									></a
								>
								<a
									href="#"
									class="d-flex align-items-center justify-content-center"
									><span class="fa fa-twitter"
										><i class="sr-only">Twitter</i></span
									></a
								>
								<a
									href="#"
									class="d-flex align-items-center justify-content-center"
									><span class="fa fa-instagram"
										><i class="sr-only">Instagram</i></span
									></a
								>
								<a
									href="#"
									class="d-flex align-items-center justify-content-center"
									><span class="fa fa-dribbble"
										><i class="sr-only">Dribbble</i></span
									></a
								>
							</p>
						</div>
					</div> -->
					<a class="appointement" href="tel:+91 9989583474">MAKE AN APPOINTMENT</a>
					<a class="to-call" href="tel:+91 9989583474">+91 9989583474</a>
				
				
				</div>
			</div>
		</div>
	</div>
</div>
