<div class="wrap">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-md-3 d-flex align-items-center">
				<a class="navbar-brand" href="/"
					>Doorstep<span>.</span><span>Repair</span></a
				>
			</div>
			<div class="col-md-7">
				<div class="row">
					<div class="col">
						<div class="top-wrap d-flex">
							<div
								class="icon d-flex align-items-center justify-content-center"
							>
								<span class="fa fa-location-arrow"></span>
							</div>
							<div class="text">
								<span>Address</span
								><span>Chintalakunta, L B Nagar, Hyderabad</span>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="top-wrap d-flex">
							<!-- <div
								class="icon d-flex align-items-center justify-content-center"
							>
								<span class="fa fa-location-arrow"></span>
							</div> -->
							<div class="text">
								<span>Call us</span>
								<!-- <span>(+01) 123 456 7890</span> -->
								<a href="tel:919989583474">
									<i class="fa fa-phone"></i> +91 9989583474
								</a>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="top-wrap d-flex">
							<!-- <div
								class="icon d-flex align-items-center justify-content-center"
							>
								<span class="fa fa-location-arrow"></span>
							</div> -->
							<div class="text">
								<span>Email us</span>
								<!-- <span>(+01) 123 456 7890</span> -->
								<a href="mailto:doorstep.repair@gmail.com" target="_blank">
									<i class="fa fa-envelope"></i>
									<p style="margin: -22px 0 0 20px">
										doorstep.repair@gmail.com
									</p>
								</a>
							</div>
						</div>
					</div>
					<!-- <div class="col-md-3 d-flex justify-content-end align-items-center">
						<div class="social-media">
							<p class="mb-0 d-flex">
								<a
									href="#"
									class="d-flex align-items-center justify-content-center"
									><span class="fa fa-facebook"
										><i class="sr-only">Facebook</i></span
									></a
								>
								<a
									href="#"
									class="d-flex align-items-center justify-content-center"
									><span class="fa fa-twitter"
										><i class="sr-only">Twitter</i></span
									></a
								>
								<a
									href="#"
									class="d-flex align-items-center justify-content-center"
									><span class="fa fa-instagram"
										><i class="sr-only">Instagram</i></span
									></a
								>
								<a
									href="#"
									class="d-flex align-items-center justify-content-center"
									><span class="fa fa-dribbble"
										><i class="sr-only">Dribbble</i></span
									></a
								>
							</p>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</div>
