<div class="hero-wrap">
	<div class="home-slider owl-carousel">
		<div
			class="slider-item"
			style="
				background-image: url(images/banner1.jpg);
				background-repeat: no-repeat;
				background-size: 100% 100%;
			"
		>
			<!-- <img src="images/1.jpg" alt="" /> -->
			<div class="overlay"></div>
			<div class="container">
				<div
					class="row no-gutters slider-text align-items-center justify-content-start"
				>
					<div class="col-md-6 ftco-animate">
						<div class="text w-100">
							<h2>We are best repair services</h2>
							<h1 class="mb-4">We make your appliances last longer</h1>
							<!-- <h3>
								<a href="tel:919989583474" class="" style="color: whitesmoke"
									><span class="icon fa fa-phone"></span> +91 9989583474
								</a>
							</h3> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="slider-item"
			style="
				background-image: url(images/banner2.jpg);
				background-repeat: no-repeat;
				background-size: 100% 100%;
			"
		>
			<!-- <img src="images/2.jpg" alt="" /> -->
			<div class="overlay"></div>
			<div class="container">
				<div
					class="row no-gutters slider-text align-items-center justify-content-start"
				>
					<div class="col-md-6 ftco-animate">
						<div class="text w-100">
							<h2>We are best repair services</h2>
							<h1 class="mb-4">We make your appliances last longer</h1>
							<!-- <h3>
								<a href="tel:919989583474" class="" style="color: whitesmoke"
									><span class="icon fa fa-phone"></span> +91 9989583474
								</a>
							</h3> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="slider-item"
			style="
				background-image: url(images/banner3.jpg);
				background-repeat: no-repeat;
				background-size: 100% 100%;
			"
		>
			<!-- <img src="images/2.jpg" alt="" /> -->
			<div class="overlay"></div>
			<div class="container">
				<div
					class="row no-gutters slider-text align-items-center justify-content-start"
				>
					<div class="col-md-6 ftco-animate">
						<div class="text w-100">
							<h2>We are best repair services</h2>
							<h1 class="mb-4">We make your appliances last longer</h1>
							<!-- <h3>
							<a href="tel:919989583474" class="" style="color: whitesmoke"
								><span class="icon fa fa-phone"></span> +91 9989583474
							</a>
						</h3> -->
						</div>
					</div>
				</div>
			</div>
		</div>

		<div
			class="slider-item"
			style="
				background-image: url(images/banner4.jpg);
				background-repeat: no-repeat;
				background-size: 100% 100%;
			"
		>
			<!-- <img src="images/3.jpg" alt="" /> -->
			<div class="overlay"></div>
			<div class="container">
				<div
					class="row no-gutters slider-text align-items-center justify-content-start"
				>
					<div class="col-md-6 ftco-animate">
						<div class="text w-100">
							<h2>We are best repair services</h2>
							<h1 class="mb-4">We make your appliances last longer</h1>
							<!-- <h3>
								<a href="tel:919989583474" class="" style="color: whitesmoke"
									><span class="icon fa fa-phone"></span> +91 9989583474
								</a>
							</h3> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
