<div class="hero-wrap">
	<div class="home-slider owl-carousel">
		<div class="slider-item" style="
				background-image: url(images/washing_machine_home_banner.webp);
				background-repeat: no-repeat;
				background-size: 100% 100% ;
			">
<div class="overlay"></div>
			<div class="row no-gutters slider-text align-items-center justify-content-start">
				<div class="col-md-6 ftco-animate">
					<!-- <div class="text w-100 px-2">
						<h1 class="mb-4">
							We provide fast & quality Washing Machine Services
						</h1>
						<h2>We are best repair services</h2>
						<h2>Repair | Installation | Servicing</h2>
					</div> -->
				</div>
			</div>
		</div>

		<div class="slider-item" style="
				background-image: url(images/home_banner.webp);
				background-repeat: no-repeat;
				background-size: 100% 100% ;
			">
<div class="overlay"></div>

			<div class="row no-gutters slider-text align-items-center justify-content-start">
				<div class="col-md-6 ftco-animate">
					<!-- <div class="text w-100 px-2">
						<h1 class="mb-4">
							All type of Air Conditioners Repair & Installation
						</h1>
						<h2>Repair | Installation | Servicing</h2>
					</div> -->
				</div>
			</div>
		</div>

		<div class="slider-item" style="
		background-image: url(images/banner3.jpg);
		background-repeat: no-repeat;
		background-size: 100% 100%;">

<div class="overlay"></div>
			<div class="row no-gutters slider-text align-items-center justify-content-start">
				<div class="col-md-6 ftco-animate">
					<!-- <div class="text w-100 px-2">
						<h1 class="mb-4">
							We provide fast & quality Refrigerator Services
						</h1>
						<h2>Repair | Installation | Service</h2>
					</div> -->
				</div>
			</div>
		</div>



		<div class="slider-item" style="
		background-image: url(images/bannerr.jpeg);
		background-repeat: no-repeat;
		background-size: 100% 100% ;
	">
	<div class="overlay"></div>
			<div class="row no-gutters slider-text align-items-center justify-content-start">
				<div class="col-md-6 ftco-animate">
					<!-- <div class="text w-100 px-2">
						<h1 class="mb-4">All type of Water Purifier Repair & Service</h1>
						<h2>Repair | Installation | Servicing</h2>

					</div> -->
				</div>
			</div>

		</div>
	</div>


	<div class="row" style="display: flex;margin:3px;margin-top: 100px;">
		<!--Start single item-->
		<div class="col-md-4 col-sm-12 col-xs-12">
			<div class="single-item hvr-float-shadow wow fadeInUp boxes" data-wow-delay="0.5s" data-wow-duration="1s" data-wow-offset="0">
				<div class="icon-holder">
					<div class="icon-box">
						<div class="icon">
							<div class="icon-bg" style="margin-right: 15px;">
								<img src="images/sameday.png" alt="" width="50px" height="50px"/>
							</div>
						</div>
					</div>
				</div>
				<div class="text-holder">
					<h3 style="color:white;margin-bottom: 0px;font-weight: 700;">Same Day Service</h3>
					<p style="color:#f79f24;font-weight: 700;">Same Day Appliance Repair has been repaired</p>
				</div>
			</div>
		</div>
		<!--End single item-->
		
		<!--Start single item-->
		<div class="col-md-4 col-sm-12 col-xs-12">
			<div  class="single-item hvr-float-shadow wow fadeInUp boxes" data-wow-delay="0.5s" data-wow-duration="1s" data-wow-offset="0">
				<div class="icon-holder">
					<div class="icon-box">
						<div class="icon">
							<div class="icon-bg" style="margin-right: 15px;">
								<img src="images/map.png" alt="" width="50px" height="50px"/>
							</div>
						</div>
					</div>
				</div>
				<div class="text-holder" style="margin-left: 5px;">
					<h3 style="font-weight: 700;color:white;margin-bottom: 0px;">One Visit Charges</h3>
					<p style="font-weight: 700;color:#f79f24">You can always count on us to be there on time</p>
				</div>
			</div>
		</div>
		<!--End single item-->
		
		<!--Start single item-->
		<div class="col-md-4 col-sm-12 col-xs-12">
			<div  class="single-item hvr-float-shadow wow fadeInUp boxes" data-wow-delay="0.5s" data-wow-duration="1s" data-wow-offset="0">
				<div class="icon-holder">
					<div class="icon-box">
						<div class="icon">
							<div class="icon-bg" style="margin-right: 15px;">
								<img src="images/calender.png" alt="" width="50px" height="50px"/>
							</div>
						</div>
					</div>
				</div>
				<div class="text-holder">
					<h3 style="font-weight: 700;color:white;margin-bottom: 0px;margin-top: 5px;">Schedule a Repair</h3>
					<p style="font-weight: 700;color:#f79f24;">Offers secure online scheduling for your home repair service</p>
				</div>
			</div>
		</div>

</div>
</div>