<section class="ftco-section bg-light">
	<div class="container">
		<div class="row justify-content-center pb-5 mb-3">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<span class="subheading">Price &amp; Plans</span>
				<h2>Pricing</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-lg-3 ftco-animate">
				<div class="block-7">
					<div class="text-center">
						<span class="excerpt d-block">First PMS</span>
						<span class="price"
							><sup>$</sup> <span class="number">78.98</span></span
						>

						<div class="pricing-text">
							<p>
								A small river named Duden flows by their place and supplies it
								with the necessary regelialia.
							</p>
						</div>

						<a href="#" class="btn btn-secondary d-block px-2 py-3"
							>Get Started</a
						>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 ftco-animate">
				<div class="block-7">
					<div class="text-center">
						<span class="excerpt d-block">Engine Diagnostics</span>
						<span class="price"
							><sup>$</sup> <span class="number">83.75</span></span
						>

						<div class="pricing-text">
							<p>
								A small river named Duden flows by their place and supplies it
								with the necessary regelialia.
							</p>
						</div>

						<a href="#" class="btn btn-secondary d-block px-2 py-3"
							>Get Started</a
						>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 ftco-animate">
				<div class="block-7">
					<div class="text-center">
						<span class="excerpt d-block">Tow Truck</span>
						<span class="price"
							><sup>$</sup> <span class="number">85.00</span></span
						>

						<div class="pricing-text">
							<p>
								A small river named Duden flows by their place and supplies it
								with the necessary regelialia.
							</p>
						</div>

						<a href="#" class="btn btn-secondary d-block px-2 py-3"
							>Get Started</a
						>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 ftco-animate">
				<div class="block-7">
					<div class="text-center">
						<span class="excerpt d-block">Car Wash</span>
						<span class="price"
							><sup>$</sup> <span class="number">30.50</span></span
						>

						<div class="pricing-text">
							<p>
								A small river named Duden flows by their place and supplies it
								with the necessary regelialia.
							</p>
						</div>

						<a href="#" class="btn btn-secondary d-block px-2 py-3"
							>Get Started</a
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
