<section class="ftco-section" id="services">
	<div class="container">
		<div class="row justify-content-center pb-5 mb-3">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<span class="subheading">We offer Services</span>
				<h2>Our services</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 services ftco-animate">
				<div class="d-block d-flex">
					<div class="icon d-flex justify-content-center align-items-center">
						<!-- <span class="flaticon-car-service"></span> -->
						<img src="images/iconWm.png" alt="" style="height: 48px; color: white;"/>
					</div>
					<div class="media-body pl-3">
						<h3 class="heading">Washing Machine Repair</h3>
						<p>
							We undertake the following Washing Machines services: 
						</p>
						<ui style="list-style: none;">
							<li><i class="fa fa-check" aria-hidden="true"></i> Washing Machine won't spin or drain</li>
							<li><i class="fa fa-check" aria-hidden="true"></i> Washing Machine stops mid cycle </li>
							<li><i class="fa fa-check" aria-hidden="true"></i> Washing Machine fills slowly</li>
							<li><i class="fa fa-check" aria-hidden="true"></i> Washing Machine leaking water </li>
							<li><i class="fa fa-check" aria-hidden="true"></i> Washing Machine is making a loud noise</li>
							<li><i class="fa fa-check" aria-hidden="true"></i> Washing Machine won't start or agitate </li>
							<li><i class="fa fa-check" aria-hidden="true"></i> Washing Machine vibrating or shaking</li>
							<li><i class="fa fa-check" aria-hidden="true"></i> Washing Machine won't spin or agitate </li>
							<li><i class="fa fa-check" aria-hidden="true"></i> Washing Machine overflowing </li>
						</ui>
						<p><a href="#" class="btn-custom">Read more</a></p>
					</div>
				</div>
				<div class="d-block d-flex">
					<div class="icon d-flex justify-content-center align-items-center">
						<!-- <span class="flaticon-tyre"></span> -->
						<img src="images/iconRr.png" alt="" style="height: 48px; color: white;"/>
					</div>
					<div class="media-body pl-3">
						<h3 class="heading">Refrigerator Repair</h3>
						<!-- <p>
							Refrigerator or Fridge Service you are looking For? Is your Refrigerator Not Working? Is your Fridge Not Cooling? then you have reached the right place. 
							<br>
							Refrigerators are there everywhere at houses, offices, restaurants, hospitals, shops, etc. these have become our daily needs in our life. if it is under any problem we offer our services at your doorstep.						</p>
						<p> -->
							<p>We undertake the following authorized refrigerator services:</p>	
								<ui style="list-style: none;">
									<li><i class="fa fa-check" aria-hidden="true"></i> Temperature irregularities</li>
									<li><i class="fa fa-check" aria-hidden="true"></i> Freezing/ Frost buildup</li>
									<li><i class="fa fa-check" aria-hidden="true"></i> Noisy</li>
									<li><i class="fa fa-check" aria-hidden="true"></i> Damaged condenser coils</li>
									<li><i class="fa fa-check" aria-hidden="true"></i> Electrical issues</li>
									<li><i class="fa fa-check" aria-hidden="true"></i> Faulty thermostat</li>
									<li><i class="fa fa-check" aria-hidden="true"></i> Leaks or puddles inside</li>
									<li><i class="fa fa-check" aria-hidden="true"></i> And many more</li>
								</ui>
							<p><a href="#" class="btn-custom">Read more</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-6 services ftco-animate">
				<div class="d-block d-flex">
					<div class="icon d-flex justify-content-center align-items-center">
						<!-- <span class="flaticon-battery"></span> -->
						<img src="images/iconAc.png" alt="" style="height: 48px; color: white;"/>
					</div>
					<div class="media-body pl-3">
						<h3 class="heading">AC Service and Repair</h3>
						<p>
							We undertake the following authorized air conditioner services:
						</p>
						<ui style="list-style: none;">
							<li><i class="fa fa-check" aria-hidden="true"></i> Air condition starting problem</li>
							<li><i class="fa fa-check" aria-hidden="true"></i> AC not cooling properly</li>
							<li><i class="fa fa-check" aria-hidden="true"></i> AC not cooling at all</li>
							<li><i class="fa fa-check" aria-hidden="true"></i> Power supply issues</li>
							<li><i class="fa fa-check" aria-hidden="true"></i> Noise from air conditioner indoor unit / outdoor unit</li>
							<li><i class="fa fa-check" aria-hidden="true"></i> Sudden breakdown of the AC</li>
							<li><i class="fa fa-check" aria-hidden="true"></i> AC coil problems</li>
							<li><i class="fa fa-check" aria-hidden="true"></i> Fan blade issues</li>
							<li><i class="fa fa-check" aria-hidden="true"></i> Water spillage from AC indoor unit</li>
						</ui>
						<p><a href="#" class="btn-custom">Read more</a></p>
					</div>
				</div>
				<div class="d-block d-flex">
					<div class="icon d-flex justify-content-center align-items-center">
						<!-- <span class="flaticon-car-engine"></span> -->
						<img src="images/iconWf.png" alt="" style="height: 40px; color: white;"/>
					</div>
					<div class="media-body pl-3">
						<h3 class="heading">Water Purifier Service</h3>
						<p>
							We undertake the following authorized water purifier services:
						</p>
						<ui style="list-style: none;">
							<li><i class="fa fa-check" aria-hidden="true"></i> The RO has Stopped Working</li>
							<li><i class="fa fa-check" aria-hidden="true"></i> Water is Leaking from the RO Machine</li>
							<li><i class="fa fa-check" aria-hidden="true"></i> Water Flow is Low</li>
							<li><i class="fa fa-check" aria-hidden="true"></i> Water has a Bad Odour</li>
							<li><i class="fa fa-check" aria-hidden="true"></i> Water has a Bad Taste</li>
						</ui>
						<p><a href="#" class="btn-custom">Read more</a></p>
					</div>
				</div>
			</div>
<!-- 
			<div class="col-md-4 services ftco-animate">
				<div class="d-block d-flex">
					<div class="icon d-flex justify-content-center align-items-center">
						<span class="flaticon-tow-truck"></span>
					</div>
					<div class="media-body pl-3">
						<h3 class="heading">Tow Truck</h3>
						<p>
							Even the all-powerful Pointing has no control about the blind
							texts it is an almost unorthographic.
						</p>
						<p><a href="#" class="btn-custom">Read more</a></p>
					</div>
				</div>
				<div class="d-block d-flex">
					<div class="icon d-flex justify-content-center align-items-center">
						<span class="flaticon-repair"></span>
					</div>
					<div class="media-body pl-3">
						<h3 class="heading">Car Maintenance</h3>
						<p>
							Even the all-powerful Pointing has no control about the blind
							texts it is an almost unorthographic.
						</p>
						<p><a href="#" class="btn-custom">Read more</a></p>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</section>
