<section class="ftco-section testimony-section bg-light">
	<div class="container">
		<div class="row justify-content-center pb-5 mb-3">
			<div
				class="col-md-7 heading-section heading-section-white text-center ftco-animate"
			>
				<span class="subheading">Testimonies</span>
				<h2>Happy Clients &amp; Feedbacks</h2>
			</div>
		</div>
		<div class="row ftco-animate">
			<div class="col-md-12">
				<div class="carousel-testimony owl-carousel ftco-owl">
					<div class="item">
						<div class="testimony-wrap py-4">
							<div
								class="icon d-flex align-items-center justify-content-center"
							>
								<span class="fa fa-quote-left"></span>
							</div>
							<div class="text">
								<p class="mb-4">
									Best quality result at a very reasonable price. doorstep.repair provides the best professionals in Hyderabad for all Appliances related services.
								</p>
								<div class="d-flex align-items-center">
									<!-- <div
										class="user-img"
										style="background-image: url(images/person_1.jpg)"
									></div> -->
									<div class="pl-3">
										<p class="name">Pavan Kumar</p>
										<span class="position">Business Professional</span>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="item">
						<div class="testimony-wrap py-4">
							<div
								class="icon d-flex align-items-center justify-content-center"
							>
								<span class="fa fa-quote-left"></span>
							</div>
							<div class="text">
								<p class="mb-4">
									Totally its the best experience we had encountered 
								</p>
								<div class="d-flex align-items-center">
									<!-- <div
										class="user-img"
										style="background-image: url(images/person_3.jpg)"
									></div> -->
									<div class="pl-3">
										<p class="name">Sumita Rani</p>
										<span class="position">House Owner</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap py-4">
							<div
								class="icon d-flex align-items-center justify-content-center"
							>
								<span class="fa fa-quote-left"></span>
							</div>
							<div class="text">
								<p class="mb-4">
									The best that’s out there! I recently booked a Washing Machine Repair service and am amazed to see how this company ensures you get the best service and are completely satisfied!
								</p>
								<div class="d-flex align-items-center">
									<!-- <div
										class="user-img"
										style="background-image: url(images/person_1.jpg)"
									></div> -->
									<div class="pl-3">
										<p class="name">Krishna R</p>
										<span class="position">Doctor</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap py-4">
							<div
								class="icon d-flex align-items-center justify-content-center"
							>
								<span class="fa fa-quote-left"></span>
							</div>
							<div class="text">
								<p class="mb-4">
									Very good professional, root caused correctly and fixed issue without unnecessary repairs
								</p>
								<div class="d-flex align-items-center">
									<!-- <div
										class="user-img"
										style="background-image: url(images/person_2.jpg)"
									></div> -->
									<div class="pl-3">
										<p class="name">Venkateswara Rao</p>
										<span class="position">Cooporate Professional</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
